{% extends "layout2.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenidos</h1>
    <p class="lead">En este sitio wed usted encontrara información acerca de la produccion del cafe y ademas podras hacer cálculos del factor de redimiento, entre muchas mas.</p>
    <hr class="my-4">
    <p>Pagina wed enfocada en los calculos de factores de rendimeintos e información sobre trilladoras</p>
    <a class="btn btn-primary btn-lg" href="/" role="button">leer mas</a>
</div>
{% endblock %}